.react-resizable-handle {
	display: block;
	background-color: var(--borderCommon);
	background-repeat: no-repeat;
	background-position: 50%;
}
.resize-horizontal {
	display: flex;
	flex-direction: row;
	position: relative;
}

.react-resizable-handle-s {
	height: 6px;
	width: 100%;
	cursor: row-resize;
	/* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII='); */
}

.react-resizable-handle-e {
	position: absolute;
	right: 0;
	width: 2px;
	height: 100%;
	cursor: col-resize;
	/* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); */
}

.react-resizable-handle-e:hover {
	width: 8px;
}
