.header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgCommonDefault);
  border-top: 1px solid var(--borderCommon);
  border-bottom: 1px solid var(--borderCommon);
}

.headerBtn {
  border-radius: 4px;
}

.toggleEditorBtn {
  margin-left: 8px;
  background-color: var(--bgControlsDefault);
}

.runBtn {
  margin-right: 8px;
}